<div class="container col-sm-8 border border-secondary rounded ">
  <div class="col-sm-8">
    <h4 class="display-4 col-sm-11 border-bottom border-secondary">Dodaj nowy artukul</h4>
    <form [formGroup]="addArticleForm" (ngSubmit)="submitForm()">

    <div class="form-group col-sm row">
      <div class="col-sm-3">Nagłówek:</div>
      <div class="col-sm-9">
        <input class="form-control" formControlName="title" type="text" required/>
      </div>
    </div>

    <div class="form-group col-sm row">
      <div class="col-sm-3">Treść(Polski):</div>
      <div class="col-sm-9">
        <textarea class="form-control noresize" formControlName="body" required></textarea>
      </div>
    </div>


    <div class="form-group col-sm row">
      <div class="col-sm-3">Obraz:</div>
        <input type="file" class="col-sm-9" formControlName="image"  value="Wczytaj plik"/>
    </div>


    <div class="col-sm"><input type="submit" class="btn btn-secondary" value="Zapisz"/></div>
  </form>
  </div>
</div>
